<%= form_for(@rule) do |f| %>
<% if @rule.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

	<ul>
		<% @rule.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="form-inline" >
				<%= f.label "Rule name"%>
				<%= f.text_area :name , :cols => "30", :rows => "1"%>
			</div>
			<br />
			<div class="form-inline" >
				<%= f.label "room #" %>
				<%= f.text_field :roomNo %>
			</div>
			<br />

			<div class="form-inline">
				<%= f.label :when %>
				<%= f.select :when, [['Enter','enter'],['Leave','leave'],['90s','90s']] %>
			</div>
						
			<br />

			<div class="form-inline" >
				<%= f.label "Media Type"%>
				<%= f.select :pMediaType, [['Text','text'],['Picture','picture'],['Video','video']]  %>
				<%= f.label "Feedback" %>
				<%= f.text_area :pFeedback, :cols => "80", :rows => "5"%>
			</div>

			<div class="span12">
				<div class="span2 " >
					<H5>People</H5>
					<div class="form-inline">
						<%= f.number_field :immediate, :min => 0 , :style => "width:30px"%>
						<%= f.label :immediate %>

					</div>
					<div class="form-inline">
						<%= f.number_field :dead , :min => 0 , :style => "width:30px"%>
						<%= f.label :dead %>
					</div>
					<div class="form-inline">
						<%= f.number_field :minor , :min => 0 , :style => "width:30px"%>
						<%= f.label :minor %>
					</div>
					<div class="form-inline">
						<%= f.number_field :dalayed , :min => 0 , :style => "width:30px"%>
						<%= f.label :dalayed %>
					</div>
					<div class="form-inline">
						<%= f.number_field :trapped , :min => 0 , :style => "width:30px"%>
						<%= f.label :trapped %>
					</div>
				</div>

				<div class="span2">
					<H5>Hazard</H5>
					<div class="form-inline">
						<%= f.check_box :water %>
						<%= f.label :water %>
					</div>
					<div class="form-inline">
						<%= f.check_box :chem %>
						<%= f.label :chem %>
					</div>
					<div class="form-inline">
						<%= f.check_box :elec %>
						<%= f.label :elec %>
					</div>
					<div class="form-inline">
						<%= f.check_box :gas %>
						<%= f.label :gas %>
					</div>
				</div>
				<div class="span2" >
					<H5>Building Damage</H5>
					<div class="form-inline">
						<div class="form-inline">
							<%= radio_button_tag(:buildingDamage, "0") %>
							<%= label_tag(:buildingDamage, "None") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:buildingDamage, "1") %>
							<%= label_tag(:buildingDamage, "Light") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:buildingDamage, "2") %>
							<%= label_tag(:buildingDamage, "Moderate") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:buildingDamage, "3") %>
							<%= label_tag(:buildingDamage, "Heavy") %>
						</div>
					</div>
				</div>
				<div class="span3">
					<H5>Road Access</H5>
					<div class="form-inline">
						<div class="form-inline">
							<%= radio_button_tag(:road, "0") %>
							<%= label_tag(:road, "Unobstructed") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:road, "1") %>
							<%= label_tag(:road, "One Lane Open") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:road, "2") %>
							<%= label_tag(:road, "Blocked, Cycles Only") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:road, "3") %>
							<%= label_tag(:road, "Blocked, Walk-in Only") %>
						</div>
					</div>
				</div>
				<div class="span2" >
					<H5>Fire</H5>
					<div class="form-inline">
						<div class="form-inline">
							<%= radio_button_tag(:fire, "0") %>
							<%= label_tag(:fire, "None") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:road, "1") %>
							<%= label_tag(:fire, "Smoke") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:road, "2") %>
							<%= label_tag(:fire, "Burning") %>
						</div>
						<div class="form-inline">
							<%= radio_button_tag(:road, "3") %>
							<%= label_tag(:fire, "Out") %>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="form-inline" id="NFeed" style="visibility: hidden">
			<%= f.label "Media Type" %>
			<%= f.select :nMediaType, [['Text','text'],['Picture','picture'],['Video','video']] %>
			<%= f.label "Negative Feedback"%>
			<%= f.text_area :nFeedback , :cols => "30", :rows => "5"%>
		</div>

		<div class="actions">
			<%= f.submit nil, :class => 'btn btn-primary' %>
		</div>

	</div>
</div>

<% end %>
