<div class="page-header">
	<h1><%= t 'Show rule'%></h1>
</div>
<p id="notice">
	<%= notice %>
</p>
<dl class="dl-horizontal">

	<dt>
		<strong>Name:</strong>
	</dt>
	<dd>
		<%= @rule.name %>
	</dd>

	<dt>
		<strong>Roomno:</strong>
	</dt>
	<dd>
		<%= @rule.roomNo %>
	</dd>

	<dt>
		<strong>When:</strong>
	</dt>
	<dd>
		<%= @rule.when %>
	</dd>

	<dt>
		<strong>Nmediatype:</strong>
	</dt>
	<dd>
		<%= @rule.nMediaType %>
	</dd>

	<dt>
		<strong>Nfeedback:</strong>
	</dt>
	<dd>
		<%= @rule.nFeedback %>
	</dd>

	<dt>
		<strong>Pmediatype:</strong>
	</dt>
	<dd>
		<%= @rule.pMediaType %>
	</dd>

	<dt>
		<strong>Pfeedback:</strong>
	</dt>
	<dd>
		<%= @rule.pFeedback %>
	</dd>

	<dt>
		<strong>Buildingdamage:</strong>
	</dt>
	<dd>
		<%= @rule.buildingDamage %>
	</dd>

	<dt>
		<strong>Road:</strong>
	</dt>
	<dd>
		<%= @rule.road %>
	</dd>

	<dt>
		<strong>Fire:</strong>
	</dt>
	<dd>
		<%= @rule.fire %>
	</dd>

	<dt>
		<strong>Water:</strong>
	</dt>
	<dd>
		<%= @rule.water %>
	</dd>

	<dt>
		<strong>Chem:</strong>
	</dt>
	<dd>
		<%= @rule.chem %>
	</dd>

	<dt>
		<strong>Elec:</strong>
	</dt>
	<dd>
		<%= @rule.elec %>
	</dd>

	<dt>
		<strong>Gas:</strong>
	</dt>
	<dd>
		<%= @rule.gas %>
	</dd>

	<dt>
		<strong>Immediate:</strong>
	</dt>
	<dd>
		<%= @rule.immediate %>
	</dd>

	<dt>
		<strong>Dead:</strong>
	</dt>
	<dd>
		<%= @rule.dead %>
	</dd>

	<dt>
		<strong>Minor:</strong>
	</dt>
	<dd>
		<%= @rule.minor %>
	</dd>

	<dt>
		<strong>Dalayed:</strong>
	</dt>
	<dd>
		<%= @rule.dalayed %>
	</dd>

	<dt>
		<strong>Trapped:</strong>
	</dt>
	<dd>
		<%= @rule.trapped %>
	</dd>
</dl>
<div class="form-actions">
	<%= link_to t('.back', :default => t("helpers.links.back")),
	rules_path, :class => 'btn'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
	edit_rule_path(@rule), :class => 'btn' %>

</div>
